NODE_ENV=development
APP_HOST=localhost
APP_PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mini_ecommerce

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

LOG_LEVEL=debug

JWT_SECRET=<paste chuỗi random bạn generate lúc trước>
JWT_EXPIRES_IN=1d

CLOUDINARY_NAME=Mini-ecommerce
CLOUDINARY_API_KEY=128127688996246
CLOUDINARY_API_SECRET=ckBmWTkRXXsljer07asy4wnvfk4